<nav class="u-background">
  <div class="u-wrapper">
    <ul class="Banner">
      <li class="Banner-item Banner-item--title">
        <a class="Banner-link u-clickable" href="{{ "" | absURL }}">{{ site.Title }}</a>
      </li>
      {{ range site.Menus.nav }}
      <li class="Banner-item">
        <a class="Banner-link u-clickable" href="{{ .URL | absURL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</nav>
  <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});</script>
  <script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
